.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  height: calc(100vh - 100px);
  width: 50%;
}
