.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.mainDiv {
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.shopDiv {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    width: 100%;
}

.categoriesAside {
    width: 20%;
    padding-right: 2rem;
}

.categoriesDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}