.carouselContainer {
    background: #f1f1f1;
    display : flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carouselItem {
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.carBtn:hover {
    background: rgba(0, 0, 0, 0.4);
}

.carBtnLeft {
    left: 0;
}
.carBtnRight {
    right: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}